<section class="main_container">
  <div class="main-title">
    <h1 class="main_title">Untranslatable Words</h1>
    <p>Words that have no direct English translation</p>
    <form action="/letters" method="GET">
      <button name="enter">Enter</button>
    </form>
  </div>
</section>
