<section class="main_container">
  <div class="main-title">
    <h1>Untranslatable Words</h1>
    <p>Words that have no direct English translation</p>
    <button type="button" name="enter">Enter</button>
  </div>
</section>
