<section class="main_container">
  <h1 class="main_title">Untranslatable Words</h1>
  <p>Words that have no direct English translation</p>
  <button type="button" name="enter">Enter</button>
</section>
