<section>
  <div class="block-container">
    <a href="/">
      <div class="letter-block home-block">
        <div>HOME</div>
      </div>
    </a>
    <a href="/letters/a">
      <div class="letter-block">
        <h2>A</h2>
      </div>
    </a>
    <a href="/letters/b">
      <div class="letter-block">
        <h2>B</h2>
      </div>
    </a>
    <a href="/letters/c">
      <div class="letter-block">
        <h2>C</h2>
      </div>
    </a>
    <a href="/letters/d">
    <div class="letter-block">
      <h2>D</h2>
    </div>
  </a>
  <a href="/letters/e">
    <div class="letter-block">
      <h2>E</h2>
    </div>
  </a>
  <a href="/letters/f">
    <div class="letter-block">
      <h2>F</h2>
    </div>
  </a>
  <a href="/letters/g">
    <div class="letter-block">
      <h2>G</h2>
    </div>
  </a>
  <a href="/letters/h">
    <div class="letter-block">
      <h2>H</h2>
    </div>
  </a>
  <a href="/letters/i">
    <div class="letter-block">
      <h2>I</h2>
    </div>
  </a>
  <a href="/letters/j">
    <div class="letter-block">
      <h2>J</h2>
    </div>
  </a>
  <a href="/letters/k">
    <div class="letter-block">
      <h2>K</h2>
    </div>
  </a>
  <a href="/letters/l">
    <div class="letter-block">
      <h2>L</h2>
    </div>
  </a>
  <a href="/letters/m">
    <div class="letter-block">
      <h2>M</h2>
    </div>
  </a>
  <a href="/letters/n">
    <div class="letter-block">
      <h2>N</h2>
    </div>
  </a>
  <a href="/letters/o">
    <div class="letter-block">
      <h2>O</h2>
    </div>
  </a>
  <a href="/letters/p">
    <div class="letter-block">
      <h2>P</h2>
    </div>
  </a>
  <a href="/letters/q">
    <div class="letter-block">
      <h2>Q</h2>
    </div>
  </a>
  <a href="/letters/r">
    <div class="letter-block">
      <h2>R</h2>
    </div>
  </a>
  <a href="/letters/s">
    <div class="letter-block">
      <h2>S</h2>
    </div>
  </a>
  <a href="/letters/t">
    <div class="letter-block">
      <h2>T</h2>
    </div>
  </a>
  <a href="/letters/u">
    <div class="letter-block">
      <h2>U</h2>
    </div>
  </a>
  <a href="/letters/v">
    <div class="letter-block">
      <h2>V</h2>
    </div>
  </a>
  <a href="/letters/w">
    <div class="letter-block">
      <h2>W</h2>
    </div>
  </a>
  <a href="/letters/x">
    <div class="letter-block">
      <h2>X</h2>
    </div>
  </a>
  <a href="/letters/y">
    <div class="letter-block">
      <h2>Y</h2>
    </div>
  </a>
  <a href="/letters/z">
    <div class="letter-block">
      <h2>Z</h2>
    </div>
  </a>
    <div class="letter-block thanks-block">
      <h2>THANKS</h2>
    </div>
  </div>
</section>
